@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
body, html {
  background-color: #050505;
  width: 100%;
  height: 100vh;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
}

h1, h2, h4, h5, h6 {
  font-family: "Merriweather", serif;
  color: #ffffff;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0, #050505, rgba(5, 5, 5, 0.3)), url("assets/img/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

hr {
  border: 1px solid #999999;
  height: 1px;
}

.content {
  height: 100vh;
}

.topbar {
  height: 80px;
}
.topbar .logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar .logo-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar .nav-right-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topbar .nav-right-btns .btn-reg {
  border-radius: 10px;
  border: none;
  background: #FCA311;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-left: 20px;
}
.topbar .nav-right-btns .btn-reg a {
  text-align: center;
}
.topbar .nav-right-btns .btn-reg a h3 {
  color: black;
  font-weight: 600;
  margin: 0;
}

.title-text-main {
  margin-top: 464px;
}
.title-text-main .title-h6-text {
  font-family: "Merriweather", serif;
  margin-top: 10px;
  color: #999999;
}
.title-text-main .btn-reg {
  border-radius: 10px;
  border: none;
  background: #FCA311;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 25px;
}
.title-text-main .btn-reg a {
  text-align: center;
}
.title-text-main .btn-reg a h3 {
  color: black;
  font-weight: 600;
  margin: 0;
}

.about-us-full {
  margin-top: 50px;
}
.about-us-full .about-us h6 {
  color: #999999;
  margin-bottom: -15px;
}

.about-us-containers {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}
.about-us-containers .about-us-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100px;
}
.about-us-containers .about-us-component .icon {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-containers .about-us-component .icon i {
  color: white;
  font-size: 64px;
}
.about-us-containers .about-us-component .text {
  margin-left: 40px;
  width: 518px;
}
.about-us-containers .about-us-component .text p {
  font-size: 24px;
}

.how-works-full .how-works h6 {
  color: #999999;
  margin-bottom: -15px;
  margin-top: 35px;
}
.how-works-full .how-works .how-works-containers .how-works-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.how-works-full .how-works .how-works-containers .how-works-component .text {
  font-size: 24px;
  width: 65%;
  height: 320px;
}
.how-works-full .how-works .how-works-containers .how-works-component .poster-right {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-works-full .how-works .how-works-containers .how-works-component .poster-right img {
  width: 215px;
  height: 320px;
  border-radius: 10px;
  border: 1px solid #999999;
}

.week-trends-full .week-trends h6 {
  color: #999999;
  margin-bottom: -15px;
  margin-top: 35px;
}
.week-trends-full .week-trends .week-trends-containers .week-trends-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.week-trends-full .week-trends .week-trends-containers .week-trends-component .poster img {
  width: 215px;
  height: 320px;
  border-radius: 10px;
  border: 1px solid #999999;
}

.questions-full .questions h6 {
  color: #999999;
  margin-bottom: -15px;
  margin-top: 35px;
}
.questions-full .questions .questions-containers .questions-component {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions-full .questions .questions-containers .questions-component .text {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.questions-full .questions .questions-containers .questions-component .icon-right .icon {
  margin-right: 35px;
}
.questions-full .questions .questions-containers .questions-component .icon-right .icon i {
  color: #ffffff;
}

.if-decided-full {
  margin-top: 35px;
}
.if-decided-full .if-decided-component {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.if-decided-full .if-decided-component .text h1 {
  font-size: 48px;
}
.if-decided-full .if-decided-component .text p {
  margin-top: -25px;
  color: #999999;
  font-size: 20px;
}
.if-decided-full .if-decided-component .btn-component .btn-reg {
  border-radius: 10px;
  border: none;
  background: #FCA311;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.if-decided-full .if-decided-component .btn-component .btn-reg a {
  text-align: center;
}
.if-decided-full .if-decided-component .btn-component .btn-reg a h3 {
  color: black;
  font-weight: 600;
  margin: 0;
}

.footer-full .footer .footer-containers .footer-component {
  display: flex;
  justify-content: space-between;
}
.footer-full .footer .footer-containers .footer-component .text p {
  font-size: 20px;
  color: #999999;
}
.footer-full .footer .footer-containers .footer-component .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
.footer-full .footer .footer-containers .footer-component .icons i {
  font-size: 25px;
  color: #ffffff;
}
.footer-full .footer .footer-bottom-component {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-full .footer .footer-bottom-component .text p {
  font-size: 20px;
  color: #999999;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
