@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
//@import url('./fontawesome/scss/fontawesome.scss');

body, html {
  background-color: #050505;
  width: 100%;
  min-height: 100vh;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 0;
}

h1, h2, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  margin: 0;
}

hr {
  border: 1px solid #999999;
  height: 1px;
}

.content {
  height: 100vh;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0, #050505, rgba(5, 5, 5, 0.3)),
  url("../img/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .topbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .left-btns {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      .search-form {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #1a1a1a;
        border-radius: 20px;
        padding: 5px;

        input[type="text"] {
          width: 100%;
          border: none;
          background-color: transparent;
          color: #ffffff;
          outline: none;
          box-sizing: border-box;
          padding: 5px;
        }

        button[type="submit"] {
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: #fff;
          padding-right: 10px;
        }
      }

      .logo-text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 40px;

        h1 {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Montserrat', sans-serif;
          font-weight: 200;
        }
      }
    }


    .menu {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10%;
      margin: 0 50px 0 50px;

      a h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 20px;
      }
    }

    .right-btns {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .profile {
        display: flex;
        align-items: center;


        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }

        span {
          h3 {
            font-size: 20px;
          }
        }
      }

      .right-menu {
        display: none;

        i {
          font-size: 24px;
        }
      }
    }


  }
  .title-container {
    .title-text-main {
      margin-top: 20%;

      .title-h6-text {
        font-family: 'Merriweather', serif;
        margin-top: 10px;
        color: #999999;
      }
    }
  }
  .recent-full {
    .recent {
      h6 {
        color: #999999;
        margin-bottom: -15px;
        margin-top: 60px;
      }

      .recent-containers {

        .recent-component {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;

          .poster {
            flex-basis: 20%;
            max-width: 215px;
            max-height: 320px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              border: 1px solid #999999;
            }
          }
        }
      }
    }
  }

}

//1200-992-768-576-450-375
@media only screen and (max-width: 1200px) {
  .main {
    background-size: 100% auto;
    .topbar {
      .right-btns {
        .profile {
          margin-right: 0;

          img {
            margin-right: 0;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .main {
    .topbar {

      .menu {
        display: none;
      }

      .right-btns {
        .profile {
          margin-right: 20px;
        }

        .right-menu {
          display: contents;

          i {
            color: #ffffff;
          }
        }
      }
    }
  }
  .recent-full {
    margin-top: 100px;

    .recent {
      .recent-containers {
        .recent-component {
          flex-wrap: wrap;

          .poster {
            flex-basis: auto;
            min-width: 20%;
            min-height: 20%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .main {
    .topbar {
      .left-btns {
        .logo-text {
          margin-right: 20px;
        }

        .search-form {
          margin-right: 20px;

          .action {
            padding: 0;
          }
        }
      }

      .right-btns {
        .profile {
          display: none;
        }
      }
    }
  }
  .title-container {
    .title-text-main {
      h1 {
        font-size: 24px;
      }
    }
  }
  .recent-full {
    .recent {
      .recent-containers {
        .recent-component {
          .poster {
            min-width: 30%;
            min-height: 30%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .recent-full {
    .recent {
      .recent-containers {
        .recent-component {
          .poster {
            min-width: 45%;
            min-height: 45%;
          }
        }
      }
    }
  }
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 0;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}