@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
body, html {
  background-color: #050505;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
}

h1, h2, h4, h5, h6 {
  font-family: "Merriweather", serif;
  color: #ffffff;
  margin: 0;
}

hr {
  border: 1px solid #999999;
  height: 1px;
}

.content {
  height: 100vh;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0, #050505, rgba(5, 5, 5, 0.3)), url("../img/joker-landing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main .topbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.main .topbar .left-btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.main .topbar .left-btns .search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 5px;
}
.main .topbar .left-btns .search-form input[type=text] {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
}
.main .topbar .left-btns .search-form button[type=submit] {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  padding-right: 10px;
}
.main .topbar .left-btns .logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 40px;
}
.main .topbar .left-btns .logo-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
.main .topbar .menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  margin: 0 50px 0 50px;
}
.main .topbar .menu a h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.main .topbar .right-btns {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.main .topbar .right-btns .profile {
  display: flex;
  align-items: center;
}
.main .topbar .right-btns .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.main .topbar .right-btns .profile span h3 {
  font-size: 20px;
}
.main .topbar .right-btns .right-menu {
  display: none;
}
.main .topbar .right-btns .right-menu i {
  font-size: 24px;
}
.main .main-blocks {
  z-index: 3;
  margin-top: 400px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "poster title ." "poster description rating" "poster roles .";
  grid-gap: 40px;
}
.main .main-blocks .poster {
  grid-area: poster;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-blocks .poster .poster-block {
  max-width: 440px;
  max-height: 650px;
}
.main .main-blocks .poster .poster-block img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #999999;
}
.main .main-blocks .title-text {
  height: 100%;
  max-width: 600px;
  grid-area: title;
}
.main .main-blocks .title-text .title-info {
  font-family: "Montserrat", sans-serif;
  color: #999999;
  font-size: 20px;
}
.main .main-blocks .title-text .slogan {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.main .main-blocks .description {
  grid-area: description;
}
.main .main-blocks .description h6 {
  color: #999999;
  margin-bottom: -15px;
  margin-top: 60px;
}
.main .main-blocks .description p {
  font-size: 20px;
}
.main .main-blocks .main-roles {
  grid-area: roles;
}
.main .main-blocks .main-roles h6 {
  color: #999999;
  margin-bottom: -15px;
  margin-top: 60px;
}
.main .main-blocks .main-roles .more-info {
  margin-top: 30px;
}
.main .main-blocks .main-roles .more-info a {
  color: #999999;
  font-family: "Merriweather", serif;
  font-weight: 900;
}
.main .main-blocks .main-roles .actors-btns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main .main-blocks .main-roles .actors-btns .actor-name {
  border-radius: 10px;
  border: none;
  background: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.main .main-blocks .main-roles .actors-btns .actor-name a {
  text-align: center;
}
.main .main-blocks .main-roles .actors-btns .actor-name a h4 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.main .main-blocks .rating {
  grid-area: rating;
}
.main .main-blocks .rating h6 {
  color: #999999;
  margin-bottom: -15px;
}
.main .main-blocks .rating .rating-num {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
  font-family: "Merriweather", serif;
}
.main .main-blocks .rating .rating-num h1 {
  color: #ffffff;
  font-size: 64px;
}
.main .main-blocks .rating .rating-num h6 {
  margin: 0;
  color: #999999;
  font-size: 20px;
}
.main .main-blocks .rating .icons-block {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main-blocks .rating .icons-block .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  height: 100%;
}
.main .main-blocks .rating .icons-block .icons i {
  color: white;
  font-size: 20px;
}

.footer-full {
  margin-top: 100px;
}
.footer-full .footer .footer-containers .footer-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-full .footer .footer-containers .footer-component .text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
.footer-full .footer .footer-containers .footer-component .text p {
  font-size: 20px;
  color: #999999;
}
.footer-full .footer .footer-containers .footer-component .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  gap: 5px;
}
.footer-full .footer .footer-containers .footer-component .icons i {
  font-size: 25px;
  color: #ffffff;
}
.footer-full .footer .footer-bottom-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.footer-full .footer .footer-bottom-component .text p {
  font-size: 20px;
  color: #999999;
}

.similar-full {
  margin-top: 150px;
}
.similar-full .similar h6 {
  color: #999999;
  margin-bottom: -15px;
}
.similar-full .similar .similar-containers .similar-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.similar-full .similar .similar-containers .similar-component .poster {
  flex-basis: 20%;
}
.similar-full .similar .similar-containers .similar-component .poster img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #999999;
}

@media only screen and (max-width: 1200px) {
  .main {
    background-size: 100% auto;
  }
  .main .topbar .right-btns .profile {
    margin-right: 0;
  }
  .main .topbar .right-btns .profile img {
    margin-right: 0;
  }
  .main .topbar .right-btns .profile span {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main .main-blocks {
    grid-template-areas: "poster title" "poster description" "poster roles" "rating .";
    grid-gap: 40px;
  }
  .main .main-blocks .poster {
    grid-area: poster;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .main .topbar .menu {
    display: none;
  }
  .main .topbar .right-btns .profile {
    margin-right: 20px;
  }
  .main .topbar .right-btns .right-menu {
    display: contents;
  }
  .main .topbar .right-btns .right-menu i {
    color: #ffffff;
  }
  .main .main-blocks {
    grid-template-areas: "title poster poster" "rating poster poster" ". poster poster" "description description description" "roles roles roles";
    grid-gap: 0;
  }
  .main .main-blocks .poster {
    grid-area: poster;
  }
  .main .main-blocks .poster .poster-block {
    max-width: 500px;
    height: auto;
  }
  .main .main-blocks .poster .poster-block img {
    width: 100%;
    height: 100%;
  }
  .main .main-blocks .title-text {
    max-width: 300px;
  }
  .main .main-blocks .rating {
    max-width: 300px;
  }
}
@media only screen and (max-width: 992px) {
  .main .topbar .menu {
    display: none;
  }
  .main .topbar .right-btns .profile {
    margin-right: 20px;
  }
  .main .topbar .right-btns .right-menu {
    display: contents;
  }
  .main .topbar .right-btns .right-menu i {
    color: #ffffff;
  }
  .similar-full {
    margin-top: 100px;
  }
  .similar-full .similar .similar-containers .similar-component {
    flex-wrap: wrap;
  }
  .similar-full .similar .similar-containers .similar-component .poster {
    flex-basis: auto;
    max-width: 22%;
    max-height: 22%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .main .main-blocks {
    grid-template-areas: "title poster poster poster" "rating poster poster poster" ". poster poster poster" "description description description description" "roles roles roles roles";
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .main .topbar .left-btns .logo-text {
    margin-right: 20px;
  }
  .main .topbar .left-btns .search-form {
    margin-right: 20px;
  }
  .main .topbar .left-btns .search-form .action {
    padding: 0;
  }
  .main .topbar .right-btns .profile {
    display: none;
  }
  .main .main-blocks {
    margin-top: 200px;
    grid-template-areas: "title poster poster poster" "rating poster poster poster" ". poster poster poster" "description description description description" "roles roles roles roles";
    grid-gap: 20px;
  }
  .similar-full .similar .similar-containers .similar-component .poster {
    max-width: 30%;
    max-height: 30%;
  }
}
@media only screen and (min-width: 450px) and (max-width: 576px) {
  .similar-full .similar .similar-containers .similar-component .poster-last {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .main .main-blocks {
    margin-top: 120px;
    grid-template-areas: "title poster poster" "rating poster poster" "description description description" "roles roles roles";
  }
  .main .main-blocks .title-text .slogan {
    font-size: 16px;
  }
  .similar-full .similar .similar-containers .similar-component .poster {
    max-width: 46%;
    max-height: 46%;
  }
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=movie-page.css.map */
