@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
//@import url('./fontawesome/scss/fontawesome.scss');

body, html {
  background-color: #050505;
  width: 100%;
  min-height: 100vh;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 0;
}

h1, h2, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  margin: 0;
}

hr {
  border: 1px solid #999999;
  height: 1px;
}

.content {
  height: 100vh;
}

.main {
  width: 100%;
  //min-height: 80vh;
  background: linear-gradient(0, #050505, rgba(5, 5, 5, 0.3)),
  url("../img/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .topbar {
    height: 80px;

    .logo-text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;

      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
      }
    }

    .nav-right-btns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .btn-reg {
        border-radius: 10px;
        border: none;
        background: #FCA311;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin-left: 10px;

        a {
          text-align: center;

          h3 {
            color: black;
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }

  .title-container {
    .title-text-main {
      margin-top: 25%;

      .title-h6-text {
        font-family: 'Merriweather', serif;
        margin-top: 10px;
        color: #999999;
      }

      .btn-reg {
        border-radius: 10px;
        border: none;
        background: #FCA311;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin-top: 25px;

        a {
          text-align: center;

          h3 {
            color: black;
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }
}


.about-us-full {
  margin-top: 100px;

  .about-us h6 {
    color: #999999;
    margin-bottom: -15px;
  }

  .about-us-containers {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;

    .about-us-component {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      height: 100px;

      .icon {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: white;
          font-size: 64px;
        }
      }

      .text {
        margin: 0 10px;
        width: 75%;

        p {
          font-size: 24px;
        }
      }
    }
  }
}

.how-works-full {
  .how-works {
    h6 {
      color: #999999;
      margin-bottom: -15px;
      margin-top: 60px;
    }

    .how-works-component {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .text {
        font-size: 24px;
        width: 65%;
        height: auto;
      }

      .poster-right {
        height: 100%;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;

        .poster-block {
          position: relative;

          img {
            width: 215px;
            height: 320px;
            border-radius: 10px;
            border: 1px solid #999999;
          }

          .icons-block {
            position: absolute;
            bottom: 0;
            margin-bottom: 15px;
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icons {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              background-color: rgba(0, 0, 0, 0.8);
              border-radius: 20px;
              width: 75%;
              height: 100%;

              i {
                color: white;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.week-trends-full {

  .week-trends {
    h6 {
      color: #999999;
      margin-bottom: -15px;
      margin-top: 60px;
    }

    .week-trends-containers {

      .week-trends-component {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .poster {
          flex-basis: 20%; // this will make each poster take up 20% of the available space
          max-width: 215px; // set a max-width to prevent the posters from getting too large
          max-height: 320px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid #999999;
          }
        }
      }
    }
  }
}

.questions-full {

  .questions {
    h6 {
      color: #999999;
      margin-bottom: -15px;
      margin-top: 60px;
    }

    .questions-containers {

      .questions-component {
        min-height: 100px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
          font-size: 24px;
          display: flex;
          align-items: center;
          margin: 0 15px 0 35px;
        }

        .icon-right {
          .icon {
            margin-right: 35px;

            i {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.if-decided-full {
  margin-top: 80px;

  .if-decided-component {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      h1 {
        font-size: 48px;
      }

      p {
        margin-top: -25px;
        color: #999999;
        font-size: 20px;
      }
    }

    .btn-component {
      .btn-reg {
        border-radius: 10px;
        border: none;
        background: #FCA311;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;

        a {
          text-align: center;

          h3 {
            color: black;
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }
}

.footer-full {
  margin-top: 100px;

  .footer {
    .footer-containers {
      .footer-component {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .text {
          h1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
          }

          p {
            font-size: 20px;
            color: #999999;
          }
        }

        .icons {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 10%;
          gap: 5px;

          i {
            font-size: 25px;
            color: #ffffff;
          }
        }
      }
    }

    .footer-bottom-component {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      .text {
        p {
          font-size: 20px;
          color: #999999;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .about-us-full {
    .about-us {
      .about-us-containers {
        padding: 0 5px;

        .about-us-component {
          .text {
            p {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .about-us-full {
    .about-us {
      .about-us-containers {
        padding: 0 5px;

        .about-us-component {
          .text {
            p {
              font-size: 18px;
            }
          }

          .icon {
            i {
              font-size: 64px;
            }
          }
        }
      }
    }
  }
  .how-works-full .how-works .how-works-component {
    .text {
      p {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-us-full {
    .about-us-containers {
      .about-us-component {
        width: 100%;

        .icon {
          width: 20%;

          i {
            font-size: 48px;
          }
        }

        .text {
          margin: 0 10px 0 20px;
          width: 85%;

          p {
            font-size: 20px;
          }
        }
      }
    }
  }
  .how-works-full {
    .how-works {
      .how-works-component {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;

        .text {
          font-size: 20px;
          width: 100%;
          height: auto;
        }

        .poster-right {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .poster-block {
            img {
              width: 215px;
              height: 320px;
              border-radius: 10px;
              border: 1px solid #999999;
            }
          }
        }
      }
    }
  }
  .if-decided-full {
    .if-decided-component {
      flex-wrap: wrap;

      .text {
        h1 {
          font-size: 40px;
        }

        p {
          margin-top: -15px;
          margin-bottom: 15px;
        }
      }
    }
  }
  .questions-full {
    .questions {
      .questions-containers {
        .questions-component {
          .text {
            font-size: 20px;
            margin: 15px 15px 15px 15px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
  .week-trends-containers {

    .week-trends-component {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      .poster {
        flex-basis: auto;
        min-width: 30%;
        min-height: 30%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          border: 1px solid #999999;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .topbar {
    .nav-right-btns {
      .a-login-link h3 {
        font-size: 16px;
      }

      .btn-reg {
        padding: 8px;
        margin-left: 10px;
      }
    }
  }
  .footer-full {
    margin-top: 80px;

    .footer {
      .footer-containers {
        .footer-component {
          .text {
            p {
              margin: 10px 0 10px 0;
            }
          }

          .icons i {
            font-size: 25px;
          }
        }
      }

      .footer-bottom-component {
        margin: 10px 0 10px 0;

        .text {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .main {
    background-size: 100% auto;
  }
  .week-trends-containers {
    .week-trends-component {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      //gap: 20px;

      .poster {
        flex-basis: auto;
        min-width: 28%;
        min-height: 28%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          border: 1px solid #999999;
        }
      }
    }
  }
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 0;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}